@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --background-secondary: #f3f4f6;
    --foreground: #111827;
    --foreground-secondary: #4b5563;
    --primary-600: #4f46e5;
    --primary-700: #4338ca;
  }

  .dark {
    --background: #111827;
    --background-secondary: #1f2937;
    --foreground: #f9fafb;
    --foreground-secondary: #d1d5db;
    --primary-600: #6366f1;
    --primary-700: #4f46e5;
  }
}

body {
  @apply bg-background text-foreground transition-colors duration-200;
} 